@charset "utf-8";
/* CSS Document */

.toggle-nav 
{
	float: left;
	font-size: 35px;
	color: #fd9a00;
	margin: 0 20px 0 20px;
	cursor: pointer;
}

.container 
{
    margin-right: auto;
    margin-left: auto;
	width: 100%;
	height: 100%;
}

.leftmenu
{
	width: 250px;
	background-color:#0F0F0F;
	position: fixed;
	z-index: -5;
	text-align:left;
	height: 100%;
	float: left;
	text-transform:uppercase;
   /* box-shadow:5px 55px 20px #333; */
}

.leftmenu ul
{
	list-style-type: none;
	color: white;
	cursor:pointer;
	margin-left: -40px;
}

.leftmenu a
{
	width: 220px;
	height: 25px;
	padding-left: 35px;
 	font-family:Arial;
	font-size: 22px;
	color: #CCC;
	background-color: #111;
	text-align: left;
	text-transform:uppercase;
}

.leftmenu a:hover
{
	width: 196px;
}

.leftmenu li
{
	height: 25px;
	padding: 10px;
	font-family:Arial;
	color: #CCC;
	background-color: #111;
	text-align: left;
	text-transform:uppercase;
}

.leftmenu li:hover
{
	border-left: 4px;
	border-left-style:solid;
	border-left-color: #fd9a00;
	border-left-width: 50%;	
}


.genreList
{
	font-size: 18px;
	padding-left: 100px;
	width: 180px;
	display: none;
}